<div class="container js-videosIndex">
  <h1 class="center"></h1>
<%= form_tag import_videos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "csvインポート" %>
<% end %>

<link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-good-table/dist/vue-good-table.min.css">
<script type="text/javascript" src="https://unpkg.com/vue-good-table/dist/vue-good-table.min.js"></script>

<div id="app">
  <template>
    <vue-good-table
      :columns="columns"
      :rows="rows"
      :pagination-options="{
        enabled: true,
        nextLabel: 'next',
        prevLabel: 'prev',
        rowsPerPageLabel: 'Rows per page',
        ofLabel: 'of',
        pageLabel: 'page', // for 'pages' mode
        allLabel: 'All',
      }"
      :search-options="{
        enabled: true,
        externalQuery: searchTerm
      }">
    </vue-good-table>
  </template>
</div>

<script>
  new Vue({
    el: "#app",
    vuetify: new Vuetify(),
    data() {
      return {
        columns: [
        {
          label: 'views',
          field: 'view',
          type: 'number',
        },
        {
          label: 'URL',
          field: 'video_url',
          width: '200px',
        },
        {
          label: 'title',
          field: 'title',
        },
        {
          label: 'order',
          field: 'order',
          type: 'number',
        },
      ],
      rows: [],
      }
    },
    methods: {
      fetchVideos() {
        const url = `/api/videos`;
        axios
          .get(url)
          .then(res => {
            this.rows = res.data.videos;
          })
      }
    },
    created() {
      this.fetchVideos()
    },
  });
</script>

