<div class="container js-videosIndex">
  <h1 class="#f3e5f5 purple lighten-5 center">index</h1>
  <div class="row #e3f2fd blue lighten-5">
    <% @videos.each do |video| %>
      <div class="col s4 m6">
        <div class="card btn">
          <span class="card-title" v-on:click="setVideoInfo(<%= video.id %>)">
            <%= video.title %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row" v-show="videoInfoBool">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            {{ videoInfo.title }}
          </span>
          <div class="detail">
            {{ videoInfo.description }}
          </div>
          <div class="detail">
            {{ videoInfo.publisher }}
          </div>
          <div class="detail">
            {{ videoInfo.tag }}
          </div>
          <div class="detail">
            {{ videoInfo.view }}
          </div>
          <div class="detail">
            {{ videoInfo.video_url }}
          </div>
          <div class="detail">
            {{ videoInfo.order }}
          </div>
          <div class="detail">
            {{ videoInfo.queriy }}
          </div>
          <div class="detail">
            {{ videoInfo.video_length }}
          </div>
          <div class="detail">
            {{ videoInfo.like }}
          </div>
          <div class="detail">
            {{ videoInfo.dislike }}
          </div>
          <div class="detail">
            {{ videoInfo.channel_url }}
          </div>
          <div class="detail">
            {{ videoInfo.create_stamp }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'video' %>