<div class="container js-videosIndex">
  <h1 class="center"></h1>
<%= form_tag import_videos_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "csvインポート" %>
<% end %>

<link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-good-table/dist/vue-good-table.min.css">
<script type="text/javascript" src="https://unpkg.com/vue-good-table/dist/vue-good-table.min.js"></script>

<div id="app">
<template>
  <div>
    <vue-good-table
      :columns="columns"
      :rows="rows"/>
  </div>
</template>
    <%# ページネーション表示用コンポーネント %>
<v-pagination
  v-model="currentPage"
  :length="totalPages"
  <%# ページを変更した時にfetchVideosを呼び出す %>
  @input="fetchVideos"
/>
</div>
<script>
  new Vue({
    el: "#app",
    vuetify: new Vuetify(),
    data() {
      return {
        columns: [
        {
          label: 'views',
          field: 'view',
          type: 'number',
        },
        {
          label: 'URL',
          field: 'video_url',
          width: '100px',
        },
        {
          label: 'title',
          field: 'title',
        },
        {
          label: 'order',
          field: 'order',
          type: 'number',
        },
      ],
      rows: [],
        currentPage: 1,
        itemsPerPage: 20,
        totalPages: null,
      }
    },
    methods: {
      clickRow (row) {
        console.log('clickRow', row)
        alert('Hello ' + this.items + '!')
      },
      fetchVideos() {
        const url = `/api/videos?page=${this.currentPage}?per=${this.itemsPerPage}`;
        axios
          .get(url)
          .then(res => {
            this.rows = res.data.videos;
            this.totalPages = res.data.total_pages;
        })
      }
    },
    created() {
      this.fetchVideos()
    },
  });
</script>

